.container-fluid2{
    height: 200px;
    background-image: url(young-female-college-student-chemistry-class-writing-notes-focused-student-classroom-young-female-college-student-137104645.webp);
}
.container-fluid9{
    background-image: url(photo-1578662996442-48f60103fc96.webp);
    height: 200px;
}